html{
	background-color: #E9EBEE;
}

img{
	max-width: 100%;
}

#facebook-wrapper{
	/* if we need whole page styles */
}

#header{
	/* What rob is doing */
	/* height: 24px; */
	/* height: 42px; */
	/* This is just to see icons if they arent showing */
	/* height: 420px; */
	width: 100%;
	background-color: #3b5998;
	overflow: hidden;
}

#header-inner{
	max-width: 900px;
	margin: auto;
}

#left-header{

}

#fb-logo, #fb-search{
	float: left;
	margin-left: 10px;
}

#fb-logo{
	height: 24px;
	width: 24px;
	background-image: url('fb_sprite.png');
	background-size: 26px 905px;
	background-position: 0 -163px;
	margin-top: 10px;
}

#fb-search input{
	height: 19px;
	width: 393px;
	border-radius: 5px;
}

#right-header{
	float: right;
}

#right-header div{
	float: left;
}


#small-avatar{
	height: 24px;
	width: 24px;
	float: left;
}

/* This is a catch-all for the thress social icon divs */
.social-icon{
	height: 24px;
	width: 24px;
	background-image: url('fb_sprite.png');
	background-size: 26px 905px;
	float: left;
	margin-left: 10px;
}

/* specific to the friends div */
.friends{
	background-position: 0 -188px;
}

/* specific to the messages div */
.messages{
	background-position: 0 -338px;
}

/* specific to the notifications div */
.notifications{
	background-position: 0 -238px;
}

.lock{
	background-position: 0 -859px;
	height: 16px;
	/* this will override the social icon margin */
	margin-left: 10px;
	/* border-left: 1px solid #444;
	padding-left: 10px; */
}

.down-arrow{
	background-position: 0 -825px;
	height: 16px;

}

.spacer{
	/* what rob is doing */
	/* line-height: 24px; */
	line-height: 42px;
	margin: 0 10px;
}

#cover-photo-wrapper{
	max-width: 900px;
	margin: auto;
	width: 100%;
}

#big-photo{
	overflow: hidden;
	height: 336px;
}

#big-photo img{
	width: 100%;
	height: 336px;
}

#big-avatar{
	float: left;
	height: 160px;
	width: 160px;
	overflow: hidden;
	position: absolute;
	top: 250px;
	left: 525px;
	border: solid white 4px;
	border-radius: 2px;
	outline: solid gray 1px;
}

#menu-avatar-name{
	float: left;

}

#cover-buttons{
	float: right;
	position: absolute;
	top: 300px;
	margin-left: 700px;
}

#cover-menu{
	float: left;
	background-color: #ffffff;
	padding-left: 250px;
	padding-right: 226px;
}

.cover-menu-item{
	float: left;
	list-style-type: none;
	padding: 20px;
	
}

#cover-avatar-name{
	position: absolute;
	top: 325px;
	left: 725px;
	font-family: helvetica;
	font-size: 30px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}